$font-family: sans-serif;
$h-header: 8%;
$pd-but-header: 0.8rem 1rem;
$mg-but-header: 0 1rem;
$grid-gap: 1.4rem;
$h-img-tourBest-header: 46rem;
$h-img-tourNear:15rem;
$h-container-blog: 35rem;
$w-container-blog:27rem;