@use "../abstracts/" as *;
@use "../utils/" as *;


.header {
    background-color: $cl-bg-header;
    font-family: $font-family;
    height: $h-header;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    @include center();
}


.header-content {
    margin: 0 13.5rem;
    height: 100%;
    width: 100%;
    @include center();
    justify-content: space-between;
    .logo {
        @include logo;
    }
}

.filter-btn {
    button {
        border: none;
    } 
    .filter-icon {
        border-radius: 5px;
        background-color: $cl-main;
        color: $cl-white;
        @include center();
        @include form-butt-head($font-size: 1.4rem);
        cursor: pointer;
        &:active {
            background-color: $cl-bg-signin;
            color: $cl-white;
        }
        &.btn-active {
            background-color: $cl-btn-active;
        }
    }
}


.menu {
    display: flex;
    position: absolute;
    width: 100%;
    margin: 1rem 13.5rem;
    
}
.menu-title {
    background-color: $cl-white;
    padding: 1rem 1.4rem;
    width: 15%;
    line-height: 2.8rem;
    border-radius: 5px;
    font-size: 1.6em;
    overflow: hidden;
    cursor: pointer;
    .menu-title_text {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-icon {
        font-size: 12px;
    }
}

.submenu {
    padding: 1.4rem 2rem;
    background-color: $cl-white;
    position: absolute;
    margin-left: 1rem;
    width: 50%;
    
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    .submenu-title{
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 1rem
    }
    .submenu-item {
        font-size: 1.4rem;
        line-height: 3;
    }
}


.header-filter {
    .menu {
        top: 100%;
        left: 0;
    }
    .menu-title {
        margin-right: 1.4rem;
    }
    .submenu {
        left: 16%;
    }
}



.header-location {
    .menu {
        top: 100%;
        right: 6%;
        width: 100%;
        margin: 1rem 13.5rem;
        justify-content: flex-end;
    }
    .menu-icon {
        transform: rotate(180deg);
    }
    .menu-title_text {
        margin-right: 1.4rem;
        flex-direction: row-reverse;
    } 
    .submenu {
        right: 17%;
    }
}


.butt-local {
    border-radius: 5px;
    background-color: $cl-main;
    color: $cl-white;
    @include form-butt-head(0.8rem 2rem, 1.4rem);
    border: none;
    cursor: pointer;
    &.btn-active {
        background-color: $cl-btn-active;
    }
}


.search {
    @include center;
    width: 68%;
    .header-search {
        width: 100%;
    }
    .search-input {
        position: relative;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        @include form-butt-head(0.8rem 2rem);
        input {
            width: 94%;
            font-size: 1.4rem;
            border: none;
            outline: none;
        }
        .search-icon {
            position: absolute;
            color: $cl-main;
            font-size: 1.6rem;
            top: 10px;
            right: 20px;
        }
    }
    .search-input_focus {
        border: 1px solid $cl-main;
    }
    .header-search_text {
       @include dropdown-header;
        display: flex;
        justify-content: space-between;
        .header-search_blogs {
            width: 20%;
        }
        .header-search_blogs-title {
            @include font-fml-roboto;
        }
        .header-search_tours {
            display: flex;
            gap: 2.4rem;
        }
        .header-search_tours-img {
            width: 120px;
            height: 135px;
            border-radius: 5px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }   
    }
}

.auth {
    @include center;
    .log-in {
        @include sign-btn($cl-white, $cl-main);
    }
    .sign-up {
        @include sign-btn($cl-bg-signin, $cl-white);
        border: none;
    }
}
