@use "../../abstracts/" as *;
@use "../../utils/" as *;  

.tour-detail_desc {
    margin-bottom: 3rem;
    width: 73%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    .tour-detail_desc-text {
        padding: 2.4rem;
    }
    .desc-title {
        @include font-fml-roboto;
        font-size: 20px;
        color: $cl-main;
    }
    .desc-text {
        margin: 1rem 0;
        @include font-fml-cabin;
        font-size: 16px;
        line-height: 2.2rem;
        overflow-wrap: break-word;
    }
}