@use "../../abstracts/" as *;
@use "../../utils/" as *;

.user-inf_page {
    @include space-page;
    font-size: 1.6rem;
    .user-inf_title {
        @include user-title;
    }
    .user-inf_detail {
        @include font-fml-roboto;
        font-weight: 400;
        display: grid;
        p {
            padding: 10px 0;
        }
        input {
            width: 50%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            color: $cl-gray-text;
            outline: none;
            &:focus {
                border-color: $cl-main;
                box-shadow: 0 0 5px $cl-main;
            }
        }
        .css-b62m3t-container {
            width: 50%;
        }
        .css-1dimb5e-singleValue {
            color: $cl-gray-text;
        }
        button {
            background-color: #ccc;
        }
    }

    .change-pass_error {
        color: $cl-red;
        font-size: 12px;
        text-shadow: 1px 1px 3px rgba(176, 0, 32, 0.3);
    }
    .btn-password {
        background-color: $cl-main;
        font-size: 16px;
        padding: 8px 30px;
        margin: 10px 0;
    }
}
